@import "multipage/main.css";

.tatu-aID-wrapper,
.page-item:not(.disabled) > a,
.tatu-tag,
#tatu-btn-toggle-fav > i {
    color: var(--tatu-green);
}

.page-item > a:hover,
.page-link:hover > span,
.tatu-tag:hover,
#tatu-btn-toggle-fav:hover > i {
    color: var(--tatu-darker-green);
}

.breadcrumb-item:not(.active) > a {
    color: var(--tatu-orange);
}

.tatu-view-gallery,
.tatu-view-gallery:hover {
    color: var(--tatu-darker-orange);
}

.tatu-rating-wrapper > i {
    color: var(--tatu-yellow);
}

.dropdown-menu,
#tatu-filter-container,
#tatu-btn-search,
#tatu-dd-sort,
#tatu-btn-show-filters {
    background-color: var(--tatu-green) !important;
}

.dropdown-item:hover,
.dropdown-item:active,
#tatu-btn-search:hover,
#tatu-dd-sort:hover {
    background-color: var(--tatu-darker-green) !important;
}

.page-item.active > a,
.custom-control-input:not(:checked):hover ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before,
#tatu-btn-filter {
    background-color: var(--tatu-orange) !important;
}

.page-item.active > a:hover,
.custom-control-input:checked:hover ~ .custom-control-label::before,
.custom-control-input:active ~ .custom-control-label::before,
#tatu-btn-filter:hover {
    background-color: var(--tatu-darker-orange) !important;
}

.breadcrumb {
    background-color: transparent;
}

.form-control:focus {
    border-color: var(--tatu-green);
}

.custom-control-input ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before,
.dropdown-menu {
    border-color: var(--bootstrap-light) !important;
}

.page-item > a {
    background-color: transparent !important;
    border: none;
}

.page-item.active > a {
    border-radius: 4px;
}

#tatu-txt-search {
    display: inline-block;
}

#tatu-btn-toggle-fav {
    font-size: 2rem;
}

.tatu-view-gallery {
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.tatu-img-wrapper:hover > img {
    opacity: 0.25;
    cursor: pointer;
}

.tatu-img-wrapper:hover > .tatu-view-gallery {
    display: block;
}

#tatu-filter-container {
    border-radius: 0;
    top: 1.5rem;
}

.custom-control-label {
    cursor: pointer;
}

#tatu-btn-filter {
    top: 0;
    right: 0;
}

/* Criada automaticamente pelo owlCarousel; */
.owl-dots {
    display: none;
}

@media all and (min-width: 991px){
    #tatu-filter-container {
        height: 540px;
        position: fixed;
        left: 0;
        top: 8rem;
        border-radius: 15px;
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
    }

    #tatu-filter-container > form {
        overflow: auto;
        height: 450px;
        top: 0;
    }
    
    #tatu-filter-container > form::-webkit-scrollbar {
        width: 0;
    }

    #tatu-btn-filter {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }
}