@import url('https://fonts.googleapis.com/css?family=Sriracha|Montserrat|Varela+Round');

:root {
    --tatu-brand-primary: #E4C49C;

    --tatu-green: #8CBD5E;
    --tatu-darker-green: #7BAD52;
    --tatu-orange: #E0824C;
    --tatu-darker-orange: #C46A38;
    --tatu-yellow: #FFAA01;
    --tatu-blue: #1D70C1;
    --tatu-red: #E2433D;

    --tatu-correct: #28D38C;
    --tatu-wrong: #F37876;

    --tatu-font-brand: "Sriracha", cursive;
    --tatu-font-UI: "Montserrat", sans-serif;
    --tatu-font-playful: "Varela Round", sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: var(--tatu-font-UI);
    background-color: var(--light);
    padding-top: var(--tatu-navbar-height);
    padding-bottom: var(--tatu-footer-height);
}

.container-fluid {
    max-width: 1440px;
}

.tatu-font-brand {
    font-family: var(--tatu-font-brand);
    letter-spacing: 2px;
    color: var(--tatu-brand-primary);
}

.tatu-fontSize-brand {
    font-size: 30px;
}

.tatu-font-playful {
    font-family: var(--tatu-font-playful) !important;
}

.tatu-fontSize-big {
    font-size: 20px;
}

.navbar {
    user-select: none;
    min-height: 84px;
}

.navbar-nav {
    font-family: var(--tatu-font-playful);
}

.nav-link > i {
    font-size: inherit;
    vertical-align: -1px;
}

#tatu-navLink-quiz {
    color: var(--tatu-yellow);
}

#tatu-navLink-catalog {
    color: var(--tatu-green);
}

#tatu-navLink-user ~ button,
#tatu-navLink-user {
    color: var(--tatu-orange);
}

#tatu-navLink-about,
#tatu-navLink-about > i.fa-info-circle {
    color: var(--tatu-blue);
}

div[aria-labelledby="tatu-navLink-user"] > .dropdown-item:active {
    color: var(--light);    
}

div[aria-labelledby="tatu-navLink-user"] > .dropdown-item:active {
    background-color: var(--tatu-green) !important;
}

#tatu-show-sessionMenu:hover div[aria-labelledby="tatu-navLink-user"] {
    display: block;
}

.nav-link:not(#tatu-navLink-about):hover {
    color: var(--tatu-red) !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}  

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--gray-dark);
}

::-webkit-scrollbar-track {
    background: var(--white);
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .nav-link {
        font-size: 1rem;
    }
}

@media all and (min-width: 768px) {
    #tatu-navLink-about > i.fa-info-circle {
        font-size: 2rem;
    }
}