@import "main.css";

.tatu-btn-answer {
    background-color: var(--tatu-green);
    width: 18rem;
}

.tatu-btn-answer:hover,
#tatu-btn-next {
    background-color: var(--tatu-orange);
}

#tatu-question-content {
    font-size: 1.2rem;
}

#tatu-question-aid > img,
#tatu-question-aid > iframe {
    width: 100%;
}

#tatu-quiz-wrapper {
    border: 2px solid var(--tatu-yellow);
}

.tatu-timer-fixed {
    position: fixed;
    width: 90px;
    height: 45px;
    top: 90px;
    left: 50%;
    margin-left: -45px;
    z-index: 1;
    background-color: var(--white);
    border: 2px solid  var(--tatu-red);
}