<!doctype html>
<html lang="en">

<head>
  <title>tatu</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="Página informativa">
  <meta name="keywords" content="HTML,CSS,JavaScript,Bootstrap">
  <meta name="author" content="Nuno Cadeia 9170511">

  <link rel="icon" href="../img/favicon.ico" type="image/ico">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css"
    integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css"
    integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/about.css">
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand ml-3 ml-md-5 p-0" href="home.html">
      <img src="../img/logo.svg" width="38rem">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ml-auto mt-2 mb-2 mt-md-0 mb-md-0">
        <li class="nav-item mx-0 ml-md-5 mr-md-4">
          <a class="nav-link" href="home.html" style="color: var(--tatu-nav-home)"><i class="fas fa-home"
              aria-hidden="true"></i>home <span class="sr-only">(currsent)</span></a>
        </li>
        <li class="nav-item mx-0 mx-md-4">
          <a class="nav-link" href="quiz.html" style="color: var(--tatu-nav-quiz)"><i class="fas fa-play"
              aria-hidden="true"></i>quiz</a>
        </li>
        <li class="nav-item mx-0 mx-md-4">
          <a class="nav-link" href="catalog.html" style="color: var(--tatu-nav-catalog)"><i class="fas fa-paw"
              aria-hidden="true"></i>catálogo</a>
        </li>
        <li class="nav-item mx-0 mx-md-4">
          <a class="nav-link tatu-nav-active" href="about.html"
            style="background-color: var(--tatu-nav-about); color: var(--tatu-nav-active-text)"><i class="fas fa-info-circle"
              aria-hidden="true"></i>sobre</a>
        </li>
        <li class="nav-item mx-0 ml-md-4 mr-md-5">
          <a class="nav-link" href="profile.html" style="color: var(--tatu-nav-profile)"><i class="fas fa-user-circle"
              aria-hidden="true"></i>perfil</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row pt-4 pb-3 justify-content-md-start justify-content-lg-center">
      <div class="col-12 col-md-6 align-self-center">
        <h3>Como cresceu o tatu?</h3>
        <br>
        <p>O <b>tatu</b> é um Projeto Educacional que pretende ser uma referência pedagógica na aprendizagem dos
          menores
          na temática dos animais terrestres, nutrindo a mente através de um quiz didático que garante horas de
          diversão
          aos mais pequenos!
        </p>
      </div>
      <div class="col-12 col-md-4 align-self-center">
        <img src="../img/undraw_questions_75e0.svg" alt="">
      </div>
    </div>

    <div class="row py-3 justify-content-md-between justify-content-lg-center">
      <div class="col-12 col-md-6 align-self-center">
        <h3>Gosto de um animal mas não está no catálogo!</h3>
        <br>
        <p>O <b>tatu</b> está sempre à escuta de novos amigos! Preenche o formulário e envia-lhe o teu pedido.</p>
        <br>
        <button id="tatu-btn-form" type="button" class="btn btn-primary"
          style="background-color: var(--tatu-purple); border-color: var(--tatu-purple-dark);">Abrir
          formulário</button>
      </div>
      <div class="col-12 col-md-4 align-self-center order-last order-md-first">
        <img src="../img/undraw_good_doggy_4wfq.svg" alt="">
      </div>
    </div>

    <div class="row py-3 justify-content-md-start justify-content-lg-center">
      <div class="col-12 col-md-6 align-self-center">
        <h3>Por que meios posso contactar?</h3>
        <br>
        <p>Para contactar, envia a tua mensagem para o email abaixo indicado:</p>
        <p><b id="tatu-email"></b></p>
      </div>
      <div class="col-12 col-md-4 align-self-center">
        <img src="../img/undraw_mention_6k5d.svg" alt="">
      </div>
    </div>

    <div class="row py-3 justify-content-md-between justify-content-lg-center">
      <div class="col-12 col-md-6 align-self-center">
        <h3>Onde fica o tatu?</h3>
        <br>
        <p>O <b>tatu</b> fez a sua toca na <a href="https://www.esmad.ipp.pt/">Escola Superior de Media Artes de Design</a>, em Vila do Code.
        </p>
      </div>
      <div class="col-12 col-md-4 align-self-center order-last order-md-first">
        <img src="../img/undraw_map_1r69.svg" alt="">
      </div>
    </div>

    <div class="row pt-3 pb-4 justify-content-md-start justify-content-lg-center">
      <div class="col-12 col-md-6 align-self-center">
        <h3>Como é que foi arquitetado?</h3>
        <br>
        <p>O <b>tatu</b> foi construído em grande parte com HTML, CSS, JavaScript e Bootstrap.</p>
        <p>Podes acompanhar o seu desenvolvimento <a href="https://github.com/nuno70511/proj-poo-tatu">aqui</a>.</p>
      </div>
      <div class="col-12 col-md-4 align-self-center">
        <img src="../img/undraw_code_review_l1q9.svg" alt="">
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>