<!doctype html>
<html lang="en">

<head>
  <title>tatu</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="Página informativa">
  <meta name="keywords" content="HTML,CSS,JavaScript,Bootstrap">
  <meta name="author" content="Nuno Cadeia 9170511">

  <link rel="icon" href="../img/favicon.ico" type="image/ico">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/about.css">
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top shadow"></nav>

  <div class="container-fluid">
    <div class="row pt-4 pb-3">
      <div class="col-12 col-md-8 col-lg-6 offset-lg-1 align-self-center">
        <h3 class="tatu-font-playful">Como cresceu o tatu?</h3>
        <br>
        <p>O <b>tatu</b> é um Projeto Educacional que pretende ser uma referência pedagógica na aprendizagem dos
          menores
          na temática dos animais terrestres, nutrindo a mente através de um quiz didático que garante horas de
          diversão
          aos mais pequenos!
        </p>
      </div>
      <div class="col-12 col-md-4 col-lg-3 offset-lg-1 d-none d-md-block">
        <img src="../img/about.html/undraw_questions_75e0.svg" alt="">
      </div>
    </div>

    <div class="row py-3">
      <div class="col-12 col-md-8 col-lg-6 offset-lg-1 align-self-center">
        <h3 class="tatu-font-playful">Por que meios posso contactar?</h3>
        <br>
        <p>Para contactar, envia a tua mensagem para o email abaixo indicado:</p>
        <p><b>9170511@esmad.ipp.pt</b></p>
      </div>
      <div class="col-12 col-md-4 col-lg-3 offset-lg-1 order-first d-none d-md-block">
        <img src="../img/about.html/undraw_mention_6k5d.svg" alt="">
      </div>
    </div>

    <div class="row py-3">
      <div class="col-12 col-md-8 col-lg-6 offset-lg-1 align-self-center">
        <h3 class="tatu-font-playful">Onde fica o tatu?</h3>
        <br>
        <p>O <b>tatu</b> fez a sua toca na <a href="https://www.esmad.ipp.pt/">Escola Superior de Media Artes de
            Design</a>, em Vila do Code.
        </p>
      </div>
      <div class="col-12 col-md-4 col-lg-3 offset-lg-1 d-none d-md-block">
        <img src="../img/about.html/undraw_map_1r69.svg" alt="">
      </div>
    </div>

    <div class="row pt-3 pb-4">
      <div class="col-12 col-md-8 col-lg-6 offset-lg-1 align-self-center">
        <h3 class="tatu-font-playful">Como é que foi arquitetado?</h3>
        <br>
        <p>O <b>tatu</b> foi construído em grande parte com HTML, CSS, JavaScript e com recurso à framework Bootstrap.</p>
        <p>Podes acompanhar o seu desenvolvimento <a href="https://github.com/nuno70511/proj-poo-tatu">aqui</a>.</p>
      </div>
      <div class="col-12 col-md-4 col-lg-3 offset-lg-1 order-first d-none d-md-block">
        <img src="../img/about.html/undraw_code_review_l1q9.svg" alt="">
      </div>
    </div>
  </div>

  <footer class="footer py-3 bg-dark">
    <div class="container text-center">
      <small class="text-muted">Projeto Educacional <b>tatu</b>, Programação Orientada a Objetos 2019.</small>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <script src="../js/controllers/nav-and-footer.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>