<!doctype html>
<html lang="en">

<head>
  <title>tatu</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="Página para visualizar todos os animais">
  <meta name="keywords" content="HTML,CSS,JavaScript,Bootstrap">
  <meta name="author" content="Nuno Cadeia 9170511">

  <link rel="icon" href="img/favicon.ico" type="image/ico">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/lib/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="../css/lib/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">

  <link rel="stylesheet" href="../css/catalog.css">
</head>

<body class="bg-light pt-5">

  <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top shadow">
    <a class="navbar-brand ml-3 ml-md-5 d-flex align-items-center" href="home.html">
      <img src="../img/logo.svg" width="32">
      <span class="ml-3 tatu-font-brand tatu-fontSize-brand">tatu</span>
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#tatu-navbar"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="tatu-navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ml-md-5 mr-md-4">
          <a id="tatu-navLink-quiz" class="nav-link tatu-fontSize-big" href="quiz.html">Jogar o quiz<i
              class="fas fa-play ml-3" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item ml-md-4">
          <a id="tatu-navLink-catalog" class="nav-link tatu-fontSize-big" href="catalog.html">Ver
            o catálogo<i class="fas fa-paw ml-3" aria-hidden="true"></i></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li id="tatu-show-sessionMenu" class="nav-item mr-md-4">
          <div class="dropdown">
            <a id="tatu-navLink-user" class="nav-link btn btn-sm bg-transparent tatu-fontSize-big" href="profile.html"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">utilizador<i
                class="fas fa-user-circle ml-3" aria-hidden="true"></i></a>
            <div class="dropdown-menu">
              <a class="dropdown-item btn-sm" href="#"><i class="fas fa-user-cog mr-2"></i>Conta</a>
              <a class="dropdown-item btn-sm" href="#"><i class="fas fa-flag-checkered mr-2"></i>Progresso</a>
              <a class="dropdown-item btn-sm" href="#"><i class="fas fa-trophy mr-2"></i>Troféus</a>
              <hr>
              <a class="dropdown-item btn-sm" href="#"><i class="fas fa-sign-out-alt mr-2"></i>Sair</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <a id="tatu-navLink-about" class="nav-link tatu-fontSize-big mr-md-5" href="about.html" data-toggle="tooltip"
      title="Informações"><i class="fas fa-info-circle" aria-hidden="true"></i></a>
  </nav>

  <div class="container-fluid mt-5">
    <div class="row mt-2 mt-lg-4 col-12 col-lg-9 offset-lg-3">
      <nav aria-label="breadcrumb">
        <ol class="pl-0 breadcrumb">
          <li class="breadcrumb-item"><a href="home.html">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Catálogo</li>
        </ol>
      </nav>
    </div>
    <div class="row mb-1 mt-lg-0 mb-lg-3">
      <div class="col-12 col-md-6 col-lg-3 offset-lg-3 pt-lg-3">
        <span class="form-group">
          <label for="tatu-txt-search" class="tatu-font-playful">Procurar:</label>
          <input type="text" class="col-10 col-md-7 form-control form-control-sm ml-md-2" id="tatu-txt-search"
            aria-describedby="tatu-search-help" placeholder="Escreve o nome do animal">
        </span>
        <button id="tatu-btn-search" type="button" class="btn btn-sm ml-md-2 text-light"><i
            class="fas fa-search"></i></button>
      </div>
      <div class="col-12 mt-4 col-md-6 mt-md-0 col-lg-3 d-flex align-items-center justify-content-lg-center">
        <span class="tatu-font-playful">Ordenar:</span>
        <span class="dropdown open ml-2">
          <button class="btn btn-sm dropdown-toggle text-light" type="button" id="tatu-dd-sort" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Numeração crescente
          </button>
          <div class="dropdown-menu text-light" aria-labelledby="tatu-dd-sort">
            <button class="dropdown-item btn-sm text-light" value="numUp">Numeração crescente</button>
            <button class="dropdown-item btn-sm text-light" value="numDown">Numeração decrescente</button>
            <button class="dropdown-item btn-sm text-light" value="alphUp">Ordem alfabética ascendente</button>
            <button class="dropdown-item btn-sm text-light" value="alphDown">Ordem alfabética descendente</button>
            <button class="dropdown-item btn-sm text-light" value="ratingUp">Pontuação ascendente</button>
            <button class="dropdown-item btn-sm text-light" value="ratingDown">Pontuação descendente</button>
          </div>
        </span>
      </div>
      <div class="col-12 mt-2 col-md-6 mt-md-4 col-lg-2 mt-lg-0 d-flex align-items-center justify-content-lg-end">
        <span class="tatu-font-playful">Ver só os favoritos:</span>
        <button id="tatu-btn-toggle-fav" type="button" class="btn ml-2"><i class="fas fa-toggle-off"></i><i hidden
            class="fas fa-toggle-on"></i></button>
      </div>
      <div class="col-12 mt-md-4 d-flex align-items-center col-md-6 d-lg-none">
        <button id="tatu-btn-show-filters" class="btn btn-sm text-light" type="button" data-toggle="collapse"
          data-target="#tatu-filter-container" aria-expanded="false" aria-controls="tatu-filter-container">
          Ver filtros
        </button>
      </div>
    </div>
    <div class="row mb-4">
      <div id="tatu-filter-container" class="container collapse col-12 my-2 pt-1 d-lg-block col-lg-2 my-lg-0 pt-lg-4">
        <form class="mt-0 mt-lg-5 text-light" name="tatu-filter">
          <button type="submit" id="tatu-btn-filter"
            class="btn col-12 col-sm-6 offset-sm-3 mt-3 col-lg-6 mt-lg-0 offset-lg-0 text-light tatu-font-playful">Filtrar
            <i class="fas fa-filter"></i></button>
          <fieldset class="mt-4 mt-lg-0 mb-3">
            <legend class="mb-1 tatu-font-playful tatu-fontSize-big">Dieta</legend>
            <div class="d-flex flex-column pl-3">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="tatu-check-carnivore" name="diet"
                  value="carnivore">
                <label class="custom-control-label" for="tatu-check-carnivore">carnívora</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="tatu-check-herbivore" name="diet"
                  value="herbivore">
                <label class="custom-control-label" for="tatu-check-herbivore">herbívora</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="tatu-check-omnivore" name="diet"
                  value="omnivore">
                <label class="custom-control-label" for="tatu-check-omnivore">omnívora</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="tatu-check-insectivore" name="diet"
                  value="insectivore">
                <label class="custom-control-label" for="tatu-check-insectivore">insetívora</label>
              </div>
            </div>
          </fieldset>
          <fieldset class="mb-3">
            <legend class="mb-1 tatu-font-playful tatu-fontSize-big">Atividade</legend>
            <div class="d-flex flex-column pl-3">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="tatu-check-diurnal" name="activity"
                  value="diurnal">
                <label class="custom-control-label" for="tatu-check-diurnal">diurna</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="tatu-check-nocturnal" name="activity"
                  value="nocturnal">
                <label class="custom-control-label" for="tatu-check-nocturnal">noturna</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="tatu-check-crepuscular" name="activity"
                  value="crepuscular">
                <label class="custom-control-label" for="tatu-check-crepuscular">crepuscular</label>
              </div>
            </div>
          </fieldset>
          <fieldset class="mb-3">
            <legend class="mb-1 tatu-font-playful tatu-fontSize-big">Vida Social</legend>
            <div class="d-flex flex-column pl-3">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="tatu-check-solitary" name="social"
                  value="solitary">
                <label class="custom-control-label" for="tatu-check-solitary">solitária</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="tatu-check-gregarious" name="social"
                  value="gregarious">
                <label class="custom-control-label" for="tatu-check-gregarious">gregária</label>
              </div>
            </div>
          </fieldset>
          <fieldset class="mb-3">
            <legend class="mb-1 tatu-font-playful tatu-fontSize-big">Habitat</legend>
            <div class="d-flex flex-column pl-3">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="tatu-check-mediterranean" name="habitat"
                  value="mediterranean">
                <label class="custom-control-label" for="tatu-check-mediterranean">mediterrânico</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="tatu-check-deciduous" name="habitat"
                  value="deciduous">
                <label class="custom-control-label" for="tatu-check-deciduous">floresta de folha caduca</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="tatu-check-coniferous" name="habitat"
                  value="coniferous">
                <label class="custom-control-label" for="tatu-check-coniferous">floresta de coníferas</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="tatu-check-tropical" name="habitat"
                  value="tropical">
                <label class="custom-control-label" for="tatu-check-tropical">floresta tropical</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="tatu-check-prairie" name="habitat"
                  value="prairie">
                <label class="custom-control-label" for="tatu-check-prairie">pradaria</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="tatu-check-savannah" name="habitat"
                  value="savannah">
                <label class="custom-control-label" for="tatu-check-savannah">savana</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="tatu-check-desert" name="habitat"
                  value="desert">
                <label class="custom-control-label" for="tatu-check-desert">deserto</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="tatu-check-mountain" name="habitat"
                  value="mountain">
                <label class="custom-control-label" for="tatu-check-mountain">montanha</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="tatu-check-tundra" name="habitat"
                  value="tundra">
                <label class="custom-control-label" for="tatu-check-tundra">tundra</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="tatu-check-polar" name="habitat" value="polar">
                <label class="custom-control-label" for="tatu-check-polar">polar</label>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4 offset-lg-3">
        <span id="tatu-active-tags"></span>
      </div>
      <div class="col-12 col-lg-4">
        <nav aria-label="Catalog navigation">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">Anterior</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">Próxima</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="container col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-3">
        <div class="row">
          <div class="mb-4 mb-lg-5 col-sm-6 col-lg-4">
            <div class="card">
              <div class="tatu-img-wrapper position-relative">
                <img class="card-img-top" src="../img/catalog.html/lemuel-butler-515-unsplash.jpg" alt="">
                <button type="button" class="btn btn-lg position-absolute tatu-view-gallery" data-toggle="modal"
                  data-target="#tatu-gallery">
                  Visualizar<i class="ml-2 fas fa-search-plus"></i>
                </button>
              </div>
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div class="tatu-aID-wrapper">
                    <span class="mr-3 tatu-font-playful tatu-fontSize-big">001</span>
                    <span class="tatu-font-playful tatu-fontSize-big">Leão</span>
                  </div>
                  <div class="ml-3 tatu-rating-wrapper">
                    <span>4.1&nbsp;x</span>
                    <i class="ml-1 fas fa-star"></i>
                  </div>
                </div>
                <hr>
                <div class="d-flex justify-content-around">
                  <button type="button" class="btn btn-sm pl-0 tatu-btn-show-details">detalhes<i
                      class="fas fa-plus ml-1"></i></button>
                  <button type="button" class="btn btn-sm pr-0 tatu-btn-add-fav">favorito<i
                      class="far fa-star ml-1"></i></button>
                </div>
                <hr>
                <div class="owl-carousel">
                  <button type="button" class="btn btn-sm tatu-tag">#feroz</button>
                  <button type="button" class="btn btn-sm tatu-tag">#rugido</button>
                  <button type="button" class="btn btn-sm tatu-tag">#solitário</button>
                  <button type="button" class="btn btn-sm tatu-tag">#reidaselva</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2 mt-lg-1">
      <div class="col-12 col-lg-11">
        <nav aria-label="Catalog navigation">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">Anterior</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item active rounded"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">Próxima</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="modal fade" id="tatu-gallery" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Leão</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0">
          <img style="width: 100%" src="../img/catalog.html/lemuel-butler-515-unsplash.jpg" alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn ">Ver detalhes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <script src="../css/lib/OwlCarousel2-2.3.4/docs_src/assets/vendors/jquery.min.js"></script>
  <script src="../css/lib/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>

  <script>
    $('.owl-carousel').owlCarousel({
      loop: true,
      nav: false,
      autoWidth: true,
      margin: 10,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 3
        },
        960: {
          items: 5
        },
        1200: {
          items: 6
        }
      }
    });

    $(document).ready(function () {
      $("#tatu-navLink-about").tooltip();
    });
  </script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>