<!doctype html>
<html lang="en">

<head>
  <title>tatu</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="Página de jogo">
  <meta name="keywords" content="HTML,CSS,JavaScript,Bootstrap">
  <meta name="author" content="Nuno Cadeia 9170511">

  <link rel="icon" href="../img/favicon.ico" type="image/ico">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/quiz.css">
</head>

<body class="bg-light pt-5">

  <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top shadow"></nav>

  <div class="container-fluid mt-5">
    <div class="row">
      <div id="tatu-quiz-wrapper" class="col-12 col-lg-10 offset-lg-1 rounded">
        <div class="row py-3">
          <div class="col-12 col-lg-7 px-md-5 pt-md-3 pr-lg-0">
            <div class="d-md-flex justify-content-between tatu-font-playful">
              <div>
                <h3 id="tatu-question-num" class="d-inline-block">Pergunta&nbsp;<span>1</span>&nbsp;/</h3>
                <span>10</span>
              </div>
              <div id="tatu-timer-wrapper">
                <h4 id="tatu-question-timer">02:00</h4>
              </div>
            </div>
            <br>
            <br>
            <div id="tatu-question-content" class="mb-4 mb-lg-0">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod
              tempor incididunt
              ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
              pariatur.
            </div>
          </div>
          <div id="tatu-question-aid" class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-1 pr-4">
            <img class="rounded" src="../img/catalog.html/lemuel-butler-515-unsplash.jpg" alt="">
          </div>
        </div>
        <div class="row mt-3 mt-lg-5">
          <div class="col-12 d-flex flex-wrap justify-content-around mb-4 mb-lg-2">
            <button type="button" class="btn btn-lg tatu-btn-answer text-light text-left mb-2 mb-md-4 mb-lg-0" value="a"><span
                class="mr-3">A.</span>Crocodilo</button>
            <button type="button" class="btn btn-lg tatu-btn-answer text-light text-left mb-2 mb-md-4 mb-lg-0" value="b"><span
                class="mr-3">B.</span>Camelo</button>
            <button type="button" class="btn btn-lg tatu-btn-answer text-light text-left mb-2 mb-md-4 mb-lg-0" value="c"><span
                class="mr-3">C.</span>Leão</button>
            <button type="button" class="btn btn-lg tatu-btn-answer text-light text-left mb-2 mb-md-4 mb-lg-0" value="d"><span
                class="mr-3">D.</span>Girafa</button>
          </div>
        </div>
        <div class="row mb-5 my-lg-5">
          <div class="col-12 d-flex justify-content-center">
            <button id="tatu-btn-next" type="button" class="btn btn-lg text-light text-left disabled">Próxima
              pergunta<i class="ml-5 fas fa-chevron-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <script src="../js/controllers/nav.js"></script>
  <script src="../js/controllers/quiz.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>