<!doctype html>
<html lang="en">

<head>
  <title>tatu</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="Página de jogo">
  <meta name="keywords" content="HTML,CSS,JavaScript,Bootstrap">
  <meta name="author" content="Nuno Cadeia 9170511">

  <link rel="icon" href="../img/favicon.ico" type="image/ico">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/quiz.css">
</head>

<body class="bg-light pt-5">

  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top shadow">
    <a class="navbar-brand ml-3 ml-md-5 d-flex align-items-center" href="home.html">
      <img src="../img/logo.svg" width="32">
      <span class="ml-3 tatu-font-brand tatu-fontSize-brand">tatu</span>
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#tatu-navbar"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="tatu-navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ml-md-5 mr-md-4">
          <a class="nav-link tatu-fontSize-big" href="quiz.html" style="color: var(--tatu-yellow)">Jogar o quiz<i
              class="fas fa-play ml-3" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item ml-md-4">
          <a class="nav-link tatu-fontSize-big" href="catalog.html"
            style="color: var(--tatu-green); border-bottom: 2px solid var(--tatu-green);">Ver
            o catálogo<i class="fas fa-paw ml-3" aria-hidden="true"></i></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link tatu-fontSize-big mr-md-4" href="profile.html" style="color: var(--tatu-orange)">Bem
            vindo,&nbsp;<span>utilizador</span><i class="fas fa-user-circle ml-3" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
    <a id="tatu-tooltip-info" class="nav-link tatu-fontSize-big mr-md-5" href="about.html" data-toggle="tooltip"
      title="Informações" style="color: var(--tatu-blue)"><i class="fas fa-info-circle" aria-hidden="true"></i></a>
  </nav>

  <div class="container-fluid mt-5">
    <div class="row py-3">
      <div class="col-12 col-md-7 col-lg-6 offset-lg-1">
        <div class="d-md-flex justify-content-between tatu-font-playful">
          <div>
            <h3 id="tatu-question-num" class="d-inline-block">Pergunta 1 /</h3>
            <span>10</span>
          </div>
          <h5 id="tatu-question-timer">
            <span class="mr-3">Tempo:</span> 01:00
          </h5>
        </div>
        <br>
        <br>
        <div id="tatu-question-content" class="mb-4 mb-lg-0">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod
          tempor incididunt
          ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </div>
      </div>
      <div id="tatu-question-aid" class="col-12 col-md-5 col-lg-4">
        <img class="rounded" src="../img/catalog.html/lemuel-butler-515-unsplash.jpg" alt="">
      </div>
    </div>
    <div class="row mt-3 mt-lg-5">
      <div class="col-12 col-md-4 offset-md-1 col-lg-2 offset-lg-1 my-2 my-lg-0 d-flex justify-content-center d-md-block">
        <button type="button" class="btn btn-lg tatu-btn-answer text-light text-left" value="a"><span
            class="mr-3">A.</span>Crocodilo</button>
      </div>
      <div class="col-12 col-md-4 offset-md-1 col-lg-2 offset-lg-1 my-2 my-lg-0 d-flex justify-content-center d-md-block">
        <button type="button" class="btn btn-lg tatu-btn-answer text-light text-left" value="b"><span
            class="mr-3">B.</span>Camelo</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-11 col-lg-4 offset-lg-7 d-flex justify-content-center justify-content-md-end">
        <button id="tatu-btn-next" type="button" class="btn btn-lg text-light text-left disabled">Próxima pergunta<i
            class="ml-5 fas fa-chevron-right"></i></button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 offset-md-1 col-lg-2 offset-lg-1 my-2 my-lg-0 d-flex justify-content-center d-md-block">
        <button type="button" class="btn btn-lg tatu-btn-answer text-light text-left" value="c"><span
            class="mr-3">C.</span>Leão</button>
      </div>
      <div class="col-12 col-md-4 offset-md-1 col-lg-2 offset-lg-1 my-2 my-lg-0 d-flex justify-content-center d-md-block">
        <button type="button" class="btn btn-lg tatu-btn-answer text-light text-left" value="d"><span
            class="mr-3">D.</span>Girafa</button>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>