@import url('https://fonts.googleapis.com/css?family=Montserrat|Varela+Round');

:root {
    --tatu-font-UI: "Montserrat", sans-serif;
    --tatu-font-playful: "Varela Round", sans-serif;
}

body {
    font-family: var(--tatu-font-UI);
}

.tatu-font-playful {
    font-family: var(--tatu-font-playful) !important;
}

.tatu-fontSize-big {
    font-size: 20px;
}