@import url('https://fonts.googleapis.com/css?family=Sriracha|Montserrat|Varela+Round');

:root {
    --tatu-font-brand: "Sriracha", cursive;
    --tatu-font-UI: "Montserrat", sans-serif;
    --tatu-font-playful: "Varela Round", sans-serif;
}

body {
    font-family: var(--tatu-font-UI);
}

.tatu-font-brand {
    font-family: var(--tatu-font-brand);
    letter-spacing: 2px;
    color: var(--tatu-brand-primary);
}

.tatu-fontSize-brand {
    font-size: 30px;
}

.tatu-font-playful {
    font-family: var(--tatu-font-playful) !important;
}

.tatu-fontSize-big {
    font-size: 20px;
}