nav > div > ul {
    font-family: var(--tatu-font-playful);
}

.nav-link {
    font-size: 26px;
}

nav > div > ul > li > a > i {
    font-size: 22px;
    margin-right: 12px;
    vertical-align: -2px;
}

@media all and (max-width: 768px) {
    .nav-link {
        font-size: 22px;
    }

    nav > div > ul > li > a > i {
        font-size: 18px;
        margin-right: 12px;
        vertical-align: -2px;
    }    
}

@media all and (min-width: 768px) and (max-width: 981px) {
    .nav-link {
        font-size: 22px;
    }

    nav > div > ul > li > a {
        text-align: center;
    }

    nav > div > ul > li > a > i {
        font-size: 18px;
        margin-right: 12px;
        vertical-align: -2px;
        display: inline-block;
    }    
}