.navbar {
    user-select: none;
}

.navbar-nav {
    font-family: var(--tatu-font-playful);
}

.nav-link > i {
    font-size: inherit;
    vertical-align: -1px;
}

#tatu-navLink-quiz {
    color: var(--tatu-yellow);
}

#tatu-navLink-catalog {
    color: var(--tatu-green);
}

#tatu-navLink-user ~ button,
#tatu-navLink-user {
    color: var(--tatu-orange);
}

div[aria-labelledby="tatu-navLink-user"] > .dropdown-item:active {
    color: var(--light);    
}

div[aria-labelledby="tatu-navLink-user"] > .dropdown-item:active {
    background-color: var(--tatu-green) !important;
}

#tatu-show-sessionMenu:hover div[aria-labelledby="tatu-navLink-user"] {
    display: block;
}

.nav-link:not(#tatu-navLink-about):hover {
    color: var(--tatu-red) !important;
}

.nav-link > i.fa-info-circle {
    color: var(--tatu-blue-info);
    font-size: 2rem;
}