:root {
    --tatu-nav-bg: #F4D7BC;

    --tatu-green: #8CBD5E;
    --tatu-darker-green: #7BAD52;
    --tatu-orange: #E0824C;
    --tatu-darker-orange: #C46A38;

    --tatu-correct: #28D38C;
    --tatu-wrong: #F37876;

    /* Quando não for possível usar as classes bg-light ou text-light */
    --bootstrap-light: #f8f9fa;
}